body {
    background-color: #212529;
    color: #07a9c3;
}
div.main-form {
	text-align: center;
}
h1.big-logo {
	text-align: center;
}
div.result-container-wrapper {
/*	border-radius: 8px;
    border-width: 2px;*/
}
div.main-result {
	margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
/*    border-radius: 8px;
    border-width: 2px;*/
}

div#loader-container {
	margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}

div.record-row {
    text-align: center;
    min-height: 60px;
    max-height: 60px;
    height: 60px;
    font-size: 14px;
}

div.website-title {
    text-align: left;
    color: #b6b6b6;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
}

div#loader {
	text-align: center;
}

#error-message {
	color: red;
}
.logo-image {
	width: 125px;
}

#captcha_form {
	display: none;
}
.site-title-text {
    text-align: center;
    background: #07a9c3;
    border-radius: 5px 5px 0px 0px;
    color: #ffff;
}
#submit-main-form, #request-pawnd-info {
    background: #07a9c3;
    border-color: #07a9c3;	
}
#request-pawnd-info {
    font-size: 13px;	
}
.empty-message {
    text-align: center;
    margin-bottom: 14px;
    padding-bottom: 14px;
}
.pawnd-tab {
	margin-bottom: 14px;
}
.pawned-text-false {
	margin-top: 11px;
}
.pawned-text-false {
	font-weight: bold;
}

.pawned-message {
    margin-top: 5%;
    margin-bottom: -12px;
}
.pawned-row {
    text-align: center;
    min-height: 40px;
    max-height: 40px;
    height: 49px;
    font-size: 14px;
}
.pawned-row-button {
    text-align: center;
    margin-top: 0.5%;
    padding-bottom: 1.5%;
}
.pawnd-email-ok-message-row {
    height: 129px;
	text-align: center;
	font-size: 14px;    
}
.pawnd-record {
	font-weight: bold;
}
@media only screen and (max-width: 1281px) {
	.container, .container-md, .container-sm {
	    max-width: 900px;
	}
	div.record-row {
	    text-align: center;
	    max-height: 126px;
	    font-size: 14px;
	    background: #3d3d3d;
	    border-radius: 19px;
	    height: 126px;
	    padding-top: 10px;
	    margin-left: 25px;
	    margin-right: 25px;
	}
	div.pawned-message {
	    margin-top: 12%;
	}	
	div.false-pawned {
		padding-top: 6px;
	}
	div.pawned-row-button {
	    padding-bottom: 3%;
	}	
}